.live_camera{
    color:#FFFFFF;
    font-size: xx-large;
    padding: 10px 0px;
    font-weight: lighter;
}
.live_camera_location{
    color:#FFFFFF;
    font-size: normal;
    margin:0px;
    font-weight: lighter;
}
.live_camera_date{
    color: #BFC1C8;
    font-size: x-small;
}

.no_padding{
    padding: 0px;
}

.padding_left{
    padding-left: 10px;
}

.padding_right{
    padding-right: 10px;
}

